<div class="container">
  <button (click)="Command($event, '7')" mat-fab color="primary">7</button>
  <button (click)="Command($event, '8')" mat-fab color="primary">8</button>
  <button (click)="Command($event, '9')" mat-fab color="primary">9</button>
  <button (click)="Command($event, '4')" mat-fab color="primary">4</button>
  <button (click)="Command($event, '5')" mat-fab color="primary">5</button>
  <button (click)="Command($event, '6')" mat-fab color="primary">6</button>
  <button (click)="Command($event, '1')" mat-fab color="primary">1</button>
  <button (click)="Command($event, '2')" mat-fab color="primary">2</button>
  <button (click)="Command($event, '3')" mat-fab color="primary">3</button>
  <button (click)="Command($event, '0')" mat-fab color="primary">0</button>  
  <button (click)="Command($event, 'backspace')" mat-fab color="primary"><mat-icon>backspace</mat-icon></button>
  <button (click)="Command($event, 'clear')" mat-fab color="primary"><mat-icon>clear</mat-icon></button>
  <button (click)="test($event)" mat-fab color="primary"><mat-icon>info</mat-icon></button>  
</div>