.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    width: 150px;
  }

  .skueprove-group {
    margin-top: 15px;
    margin-bottom: 15px;
    /* min-height: 550px; */
  }

.button {
    margin-right: 15px;
}

/deep/ .mat-raised-button.mat-primary:hover {
  color: #3f51b5!important;
}
