<mat-toolbar color="primary">
    <span>PFP</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
  
    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-button (click)="navigate($event, '/home')">Home</button>
        <button mat-button (click)="navigate($event, '/skueprove-search')">Skueprøve</button>
        <button mat-button (click)="navigate($event, '/new-orders')">New orders</button>
    </div>

    
  </mat-toolbar>